body {
    background-color: rgba(169, 169, 169, .6) !important;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 18px !important;
}

h1 {
    font-size: 3em !important;
}

.titleProfissional {
    font-family: 'Roboto Condensed';
}

h1, h2 {
    color: white;
}

h3 {
    text-transform: uppercase;
    color: rgb(155, 93, 93);
}

.left {
    background-color: #4b2c32;
    height: 100%;
    padding: 0% !important;
    color: white;
}

.left figure {
    background-color: #623e3e;
}

.left img {
    display: block;
    margin: 0 auto;
    width: 60%;
    border: 5px solid white;
    border-radius: 50%;
}

.left a {
    color: inherit;
}

.left a:hover {
    color: darkgray;
}

header {
    background: #623e3e;
    color: white;
}

header a {
    color: inherit;
    text-decoration: none;
}

header a:hover {
    color: darkgray;
}

header i {
    font-size: 1.2em !important;
}

article h3 {
    border-bottom: 1px solid #623e3e;
}

article p {
    font-size: 1.1em;
}

article p strong {
    font-size: 1.2em;
}

i {
    font-size: 1.7em;
}

.cards {
    background-color: #4b2c32; 
    border-radius: 10px;
    color: white;
    margin-right: 1%;
}

.cardsLanguage {
    background-color: #623e3e;
    border-radius: 10px;
    color: white;
    margin-right: 1%;
}

.experience {
    color: white;
}

.experience-body {
    width: 40% !important;
    background-color: #623e3e;
    border-radius: 10px;
    padding: 0 !important;
}

.experience-body div {
    color: white;
    background-color: #4b2c32;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media only screen and (max-width: 599px) {
    h3 {
        text-align: center;
        font-size: 2em !important;
    }

    .experience-body {
        width: 90% !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    .left {
        height: 230vh;
    }

    .left img {
        width: 40%;
    }

    h3 {
        text-align: center;
    }

    .experience-body {
        width: 90% !important;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
    .left {
        height: 250vh;
    }

    .left img {
        width: 34%;
    }

    h3 {
        text-align: center;
    }

    .experience-body {
        width: 90% !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .left {
        height: 200vh;
    }

    .left img {
        width: 30%;
    }

    .experience-body {
        width: 50% !important;
    }
}

@media only screen and (min-width: 1400px) {
    .left {
        height: 130vh;
    }

    .left img {
        width: 40%;
    }
}